<%= stylesheet_link_tag "edit_issue.css" %>
<br>
<p style="color: green; text-align: center">Added succesfully</p>
<br>
<br>

<div>
  <p class="new-issue-submit2"> <%= link_to "Back to this issue", edit_issue_path(@issue) %> </p>
  <br>
  <br>
  <p class="new-issue-submit2"><%= link_to "Back to issues", issues_path %></p>
</div>
