<h1>New issue user modification</h1>

<%= render "form", issue_user_modification: @issue_user_modification %>

<br>

<div>
  <%= link_to "Back to issue user modifications", issue_user_modifications_path %>
</div>
